<html>
<head>
	<title>Welcome to Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to Quoting Wall</h1>
	<table>
	<%  for(var idx in infos){  %>
		<tr>
			<td><%= infos[idx].name + ": "%></td>
			<td><%= '"' + infos[idx].quote + '"' %></td>
			<td>
				<form action="/like" method="post">
					<input type="hidden" name="id" value="<%= infos[idx]._id %>">
					<input type="submit" value="Like">
				</form>
			</td>
			<td><%=  infos[idx].like %></td>
		</tr>
	<%  }%>
	</table>
	<a href="/">Go Back</a>
</body>
</html>